<div class="header-right2">
    <div class="cart box_1">
        <a href="@Url.Action("XemGioHang","GioHang")">
            <h3>
                <div class="total">
                    <span >@ViewBag.TongTien.ToString("#,##")VND</span> (<span>@ViewBag.TongSoLuong</span> items)
                </div>
                <img src="~/Content/images/bag.png" alt="" />
            </h3>
        </a>
        <p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Cart</a></p>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"> </div>