
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusing-ajax.js"></script>

<h1>Thống kê</h1>
<br />

<h2>Tổng doanh thu: <font color="red">@ViewBag.TongDoanhThu.ToString("#,##") VNĐ</font></h2>
<br />

<h2>Tổng số lượng đơn đặt hàng: <font color="red">@ViewBag.TongDDH (đơn)</font></h2>
<br />

<h2>Tổng số lượng thành viên: <font color="red">@ViewBag.TongThanhVien (thành viên)</font></h2>
<br />

<h2>Tổng doanh thu tháng 5/2021: <font color="red">@ViewBag.TongDoanhThuTheoThang.ToString("#,##") VNĐ</font></h2>
<br />
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" id="txtThang" placeholder="Nhập tháng" />
        </div>
        <div class="col">
            <input class="form-control" type="text" id="txtNam" placeholder="Nhập năm" />
        </div>
        <div class="col">
            <button id="XacNhan" class="btn btn-primary">Thống kê</button>
        </div>
    </div>
<h2 id="ThongKe">Tổng doanh thu: <span id="money1" style="color: red;"></span>&nbsp;VNĐ</h2>
<script>
    $(document).ready(() => {
        $("#XacNhan").click(() => {
            let txtThang = $("#txtThang").val();
            let txtNam = $("#txtNam").val();
            $.ajax({
                type: "GET",
                url: `ThongKe/ThongKeThang?txtThang=${txtThang}&txtNam=${txtNam}`,
                success: function (res) {
                    var mn = document.getElementById("money1");
                    mn.innerText = res.tongtien;
                },
                error: (err) => {
                    console.log(err)
                }
            });
        });
    });
</script>

