@using WebsiteBanHang.Models;
@model IEnumerable<product>
<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav">
        <li class="active"><a href="@Url.Action("Index","Home")" class="act">Trang chủ</a></li>
        <!-- Mega Menu -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm<b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                    <div class="col-sm-3  multi-gd-img">
                        <ul class="multi-column-dropdown">
                            @foreach (var groupItem in Model.GroupBy(n => n.Category))
                            {
                                if (groupItem.Key != null)
                                {


                                <li><a href="@Url.Action("Product","Product",new {@MaLoaiSP=groupItem.Key.Id })">@groupItem.Key.name</a></li>
                                <br />
                                }
                            }
                            
                        </ul>
                    </div>

                </div>
            </ul>
        </li>
        
        <li><a href="codes.html">Thông tin</a></li>
        
    </ul>
</div>