<div class="col-md-3 single-grid1 " style="background-color: #424242;">
    <h3 style="color:white; padding:40px 0px 20px 0px;">Đơn hàng</h3>
    <div class="recent-grids ">

        <div class="recent-center">
            <br />
            <h6 class="best2"><a href="@Url.Action("DangXacNhan","DonHang")" style="color:white;padding-bottom:20px;">Đơn hàng đang xác nhận </a></h6>

        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="recent-grids">
        <div class="recent-center">
            <h6 class="best2"><a href="@Url.Action("DaXacNhan","DonHang")" style="color:white;padding-bottom:20px;">Đơn hàng đã xác nhận </a></h6>

        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="recent-grids">
        <div class="recent-center">
            <h6 class="best2"><a href="@Url.Action("DaGiao","DonHang")" style="color:white;padding-bottom:20px;">Đơn hàng đã giao  </a></h6>

        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="recent-grids">
        <div class="recent-center">
            <h6 class="best2"><a href="@Url.Action("DaHoanThanh","DonHang")" style="color:white;padding-bottom:150px;"> Đơn hàng đã hoàn thành</a> </h6>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
